Service References/SPSServiceSVC/sps125.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Propay.Contracts.FraudDetection" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Propay.Contracts.FraudDetection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FraudDetector">
    <xs:sequence>
      <xs:element minOccurs="0" name="FraudDetectorProviderName" type="tns:FraudDetectorProvider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FraudDetector" nillable="true" type="tns:FraudDetector" />
  <xs:simpleType name="FraudDetectorProvider">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="ThreatMetrix" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FraudDetectorProvider" nillable="true" type="tns:FraudDetectorProvider" />
</xs:schema>