Service References/SPSServiceSVC/sps129.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Propay.Contracts.Common.ExternalPaymentMethods" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Propay.Contracts.Common.ExternalPaymentMethods" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentMethodLookup">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckoutResourceUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="System" type="tns:ExternalPaymentSystem" />
      <xs:element minOccurs="0" name="Verifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentMethodLookup" nillable="true" type="tns:PaymentMethodLookup" />
  <xs:simpleType name="ExternalPaymentSystem">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSpecified" />
      <xs:enumeration value="VisaCheckout" />
      <xs:enumeration value="MasterPass" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExternalPaymentSystem" nillable="true" type="tns:ExternalPaymentSystem" />
</xs:schema>